
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFF5E1;
  color: #5D4037;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}
