
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFF5E1;
  color: #5D4037;
/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #FFB6C1; /* wooly-pink-300 */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF8095; /* wooly-pink-500 */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #FFB6C1 #f1f1f1;
}
