@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFF5E1;
  color: #5D4037;
}

/* Cute Wooly Scrollbars */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #FFF5E1;
  /* wooly-cream */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #FFD1DC;
  /* wooly-pink-200 */
  border: 3px solid #FFF5E1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFB6C1;
  /* wooly-pink-300 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #FFD1DC #FFF5E1;
}